<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="'/dashboard'">
      <img src="../assets/corona-virus.ico" width="30" height="30" alt=""/> COVID19-IND</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]="'/stateStats'">StateStats</a>
        <a class="nav-item nav-link active" [routerLink]="'/hospitalStats'">HospitalStats</a>
        <a class="nav-item nav-link active" [routerLink]="'/helpline'">Helpline</a>
        <a class="nav-item nav-link active" [routerLink]="'/faqs'" >FAQs</a>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>

<footer class="page-footer font-small  special-color-dark pt-4">
  <div class="footer-copyright text-center py-3">© 2020 :
    <a href="https://github.com/konarssuresh/Covid19India">Repository</a>
  </div>
</footer>